 <div class="col-md-3 col-xs-3">
  <h6>Tweets</h6>
  <h6 class="number"><%= @twats.count %></h6>
</div>

<div class="col-md-3 col-xs-3">
  <h6>Followings</h6>
</div>

<div class="col-md-3 col-xs-3">
  <h6>Followers</h6>
</div>

<div class="col-md-3 col-xs-3">
  <h6>Likes</h6>
  <h6 class="number"><%= @like.count %></h6>
</div>