/* ----------- sign in ----------------------- */
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.bghome { 
  background-color: rgba(0, 188, 212, 0.3);
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 110px;
  margin-left: 90px;

 }

.bghomefont { 
  color: #FFFFFF
}

h1 {
  color: #FFFFFF;
  margin-bottom: 50px;
  text-align: center;
}

.signup {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
}


/* --------- info bar ------------------------ */

.num { 
  background-color: #FFFFFF; 
}
        

h6 { 
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5) 
}

.number { 
  margin-left: 20px;
  color: #329CC3; 
}


h5 { 
  font-size: 20px; 
}


/* -------- main tweets ---------------------- */


body { 
  background-color: #E6ECF0 
}



small { 
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5) 
}

.maintwit { 
  background-color: #FFFFFF;
}

.mmaintwit { 
  background-color: #FFFFFF;
  padding-bottom: 30px;  
}

.pad { 
  margin-top: 20px;
  padding-top: 20px; 
}

.ing { 
  margin-right: 20px;
  margin-left: 20px; 
}

.page { 
  background-color: #FFFFFF;
  margin-left: 20px 
}

.pose { 
  margin-top: 10px; 
}

.poses {
  margin-top: 20px;
}

.postbutton { 
  margin-top: 10px; 
}

.ind { 
  margin-right: 10px; 
}

/* ---------------- show page ------------------- */

h4 { 
  text-align: center 
}


/* ----------------- profile page ---------------- */

.jumbotron { 
  width: 100%; 
}

.update { 
  text-align: center; 
}